.full-name {
  margin: 10px 0 0 0;
  font-size: 1.55em;
}
.full-name:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.post {
  font-size: 1.3em;
  margin: 10px 0 10px 10px;
}
/* comment section */
.post-reaction {
  font-size: 1em;
}
.button-comment {
  background-color: #b8dfd5;
}
.comment-input {
  width: 350px;
  height: 25px;
  border: rgb(69, 69, 69);
  border-radius: 5px;
  margin: auto 5px;
}
.posted-comment {
  background-color: #fefaf7;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
}
.posted-comment .each-comments-part {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
.posted-comment .each-comments-part .comment-by {
  color: rgba(0, 0, 0, 0.65);
}
.posted-comment .each-comments-part .comment-by:hover {
  color: rgba(0, 0, 250, 0.65);
  cursor: pointer;
}
/* likes section */
.likes {
  display: flex;
  gap: 5px;
}
.likes .likes-length {
  cursor: pointer;
}
.likes .heart-liked {
  width: 18px;
}
.show-liked-by {
  background-color: #fefaf7;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
}
