<div class="container">
  <div class="inner-container">
    <div class="title">LOGIN</div>
    <div class="form">
      <form [formGroup]="formLogin" (submit)="submitLogin()">
        <label>Username : </label><br />
        <input
          class="input-text"
          type="text"
          formControlName="username"
        /><br />
        <label>Password : </label><br />
        <input
          class="input-text"
          type="text"
          formControlName="password"
        /><br />
        <input class="submit" type="submit" name="" id="" />
        <div class="text">Forgot password?</div>
        <div class="text">
          Not a member?<span [routerLink]="['/signup']" class="changerLink">
            Register</span
          >
        </div>
      </form>
    </div>
  </div>
</div>
