.container {
  margin: 0 auto;
  width: 85%;
  background-color: #f1eae6;
  padding: 20px 35px;
}

/* page controller */
.page-controller {
  margin: 10px auto;
  height: 80px;
  background-color: #c2f4e7;
  border-radius: 8px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1.5px 1px 0;
}
.page-controller > * {
  margin: 0 20px;
}
.page-controller .page-numbers {
  font-size: 1.4em;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
}
.page-controller .page-numbers:hover {
  background-color: #b8dfd5;
}
.page-controller button {
  height: 50px;
  background-color: #b8dfd5;
}
.page-controller button:hover {
  background-color: #a7c7bf;
}
