<div class="container">
  <div class="posts" *ngFor="let item of allPostsInf.reverse()">
    <div class="full-name" [routerLink]="['/user-profile/' + item.userid]">
      {{ allUsersInf[item.userid - 1].fullName }}
    </div>
    <div class="post">{{ item.userPost }}</div>
    <div class="post-reactions">
      <div class="likes">{{ item.postLikes }}</div>
      <button (click)="likePost(item)">Like</button>
      <div class="likes">number comments</div>
      <button (click)="showCommentBox(item)">Comment</button>
      <div class="comment-box" *ngIf="item.commentBoxBool">
        Post Comment : <input type="text" #commentInput /><button
          (click)="postComment(commentInput.value, item)"
        >
          Post
        </button>
      </div>
    </div>
    <hr />
    <!-- page-controler -->
  </div>
  <app-page-controler
    [counter]="counter"
    [loopCount]="loopCount"
    [allPostsInf]="allPostsInf"
    [postsByPages]="postsByPages"
    [pagesNumber]="pagesNumber"
    (postsEmit)="receiveFromChild($event)"
  ></app-page-controler>
  <!-- <div class="page-controller">
    <button (click)="toNextPage()">click to next</button>
    <div *ngFor="let page of pagesNumber">
      <div (click)="goToPage(page - 1)" class="page-numbers">{{ page }}</div>
    </div>
    <button (click)="toPrevPage()">click to Prev</button>
  </div> -->
</div>
