<div class="container">
  <div class="posts" *ngFor="let post of allPostsInf">
    <app-each-post [post]="post" [allUsersInf]="allUsersInf"></app-each-post>
  </div>
  <!-- page-controler -->
  <div class="page-controller">
    <div>Page: {{ counter }}</div>
    <button (click)="toPrevPage()" class="button">click to Prev</button>
    <div *ngFor="let page of postNumbersArr">
      <div (click)="goToPage(page)" class="page-numbers">{{ page }}</div>
    </div>
    <button (click)="toNextPage()" class="button">click to next</button>
  </div>
</div>
