.container {
  margin: 0 auto;
  width: 85%;
  background-color: #f1eae6;
  padding: 20px 35px;
}

.full-name {
  margin: 10px 0 0 0;
  font-size: 1.55em;
}
.post {
  font-size: 1.3em;
  margin: 10px 0 10px 10px;
}

.post-reaction {
  font-size: 1em;
}

.page-controller {
  margin: 10px auto;
  height: 80px;
  background-color: #c2f4e7;
  border-radius: 8px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-controller > * {
  margin: 0 20px;
}
.page-controller .page-numbers {
  font-size: 1.4em;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}
.page-controller .page-numbers:hover {
  background-color: #b8dfd5;
}
.page-controller button {
  height: 50px;
}
