<div class="container">
  <div class="user-information">
    <div>profile avatar</div>
    <div>Full Name : {{ onlineUser?.fullName }}</div>
    <div>Username : {{ onlineUser?.username }}</div>
    <div>Email : {{ onlineUser?.email }}</div>
  </div>
  <hr />
  <hr />
  <!-- upload-post -->
  <div class="upload-post">
    <div>Let's post something</div>
    <div>
      <input type="text" #inputPost />
    </div>
    <button (click)="postText(inputPost.value)" class="button button-comment">
      POST
    </button>
  </div>
  <!-- prev-posts -->
  <div class="prev-posts">
    <div *ngFor="let post of userPosts" class="each-post">
      <div class="inner-post">{{ post.userPost }}</div>
      <!-- like section  -->
      <div class="likes">
        <div (click)="showHideLikedByNames(post)" class="likes-length">
          {{ post.postLikes.length - 1 }}
        </div>
        <img
          src="../../../../assets/icons8-like-24.png"
          class="heart-liked"
          (click)="likePost(post)"
          *ngIf="!post.postLikeBool"
        />
        <img
          src="../../../../assets/icons8-like-48.png"
          class="heart-liked"
          (click)="likePost(post)"
          *ngIf="post.postLikeBool"
        />
        <div class="show-liked-by" *ngIf="post.likeBoxBool">
          <div *ngFor="let likedby of post.postLikes">
            <div class="liked-by-name">
              {{ likedby.likedBy }}
            </div>
          </div>
        </div>
      </div>
      <!-- delete section  -->
      <button (click)="deletePostHome(post.id)" class="delete-section">
        Delete
      </button>
      <!-- comment section  -->
      <button (click)="showCommentBox(post)" class="button button-comment">
        Comment
      </button>
      <div class="comment-box" *ngIf="post.commentBoxBool">
        Post Comment
        <input #commentInput type="text" class="comment-input" /><button
          (click)="postComment(commentInput.value, post)"
          class="button button-comment"
        >
          Post
        </button>
        <div class="posted-comment" *ngIf="post.comments">
          <div *ngFor="let comment of post.comments">
            <div *ngIf="comment.by" class="each-comments-part">
              <div class="comment-by">{{ comment.by }}</div>
              :
              <div>{{ comment.comment }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
