.container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
}
.inner-container {
  position: fixed;
  width: 500px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -250px;
  background-color: aqua;
  border-radius: 10px;
  text-align: center;
}
.title {
  font-size: 3em;
  margin: 30px;
}
.form {
  position: relative;
  display: flex;
  left: 125px;
  top: 15px;
  text-align: start;
  margin-left: 15px;
}
.form .input-text {
  margin: 15px 0;
  width: 250px;
  height: 40px;
}

.form .text {
  margin: 15px 0;
}

.changerLink:hover {
  color: blue;
  cursor: pointer;
}
