<div class="container">
  <div class="user-information">
    <div>profile avatar</div>
    <div>Full Name : {{ user.fullName }}</div>
    <div>Username : {{ user.username }}</div>
    <div>Email : {{ user.email }}</div>
  </div>
  <!-- -------- -->
  <div class="upload-post">
    <hr />
    <hr />
    <div>Let's post something</div>
    <div>date: {{ postDate | date : "short" }}</div>
    <div>
      <input type="text" [(ngModel)]="posttxt" />
    </div>
    <button (click)="postText()">POST</button>
  </div>
  <!-- -------- -->
  <div class="prev-posts">
    <div *ngFor="let post of user.posts">
      <div>{{ post }}</div>
    </div>
  </div>
</div>
