<div class="container">
  <div class="inner-container">
    <div class="title">SIGN UP</div>
    <div class="form">
      <form [formGroup]="formSignUP" (submit)="submitSignUp()">
        <label>Full Name : </label><br />
        <input
          class="input-text"
          type="text"
          formControlName="fullName"
        /><br />
        <label>Username : </label><br />
        <input
          class="input-text"
          type="text"
          formControlName="username"
        /><br />
        <label>Email : </label><br />
        <input class="input-text" type="text" formControlName="email" /><br />
        <label>Password : </label><br />
        <input
          class="input-text"
          type="password"
          formControlName="password"
        /><br />
        <input class="button submitbtn" type="submit" />
        <div class="text">Forgot password?</div>
        <div class="text" (click)="toLogin()" class="changerLink">
          To Login page
        </div>
      </form>
    </div>
  </div>
</div>
