.container {
  background-color: #c2f4e7;
}
.flex-box {
  display: flex;
  margin-left: 25px;
}
.flex-box div {
  font-size: 1.7em;
  margin: 15px 10px 15px 10px;
  border-radius: 10px;
  padding: 15px;
  width: 100px;
  text-align: center;
}
.flex-box div:hover {
  background-color: #b8dfd5;
  cursor: pointer;
}
